.element {
  padding: 20px;
}

.equation {
  display: flex;
  flex-flow: row nowrap;
}

.equation .equation-left-side {
  display: flex;
  flex-flow: row nowrap;
}

.equation .equation-right-side {
  display: flex;
  flex-flow: row nowrap;
}

.expression {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.equals {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.series {
  display: flex;
  flex-flow: row nowrap;
}

.series .element {
  padding: 10px 20px;
}

.set {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 100%;
}

.table {
  display: flex;
  flex-flow: column nowrap
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
}

.table-item {
  flex-basis: 0px;
}
